<div class="modal">

    <header class="bar bar-header bar-positive">
        <h1 class="title">Help and Info</h1>
        <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </header>

    <content has-header="true" padding="true">
        <div class="help-heading">
            <h3>Thanks for using our App. Here is some quick and easy steps to help us get to you ASAP</h3>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
               <b>1.</b> You can click Find Me to center the map to your location.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <b>2.</b> Pinch to zoom or use the + & - to zoom in and out. Now you can hold the marker <i class="ion ion-ios-location"></i> and fine tune your location.
                You can switch from map to a satellite view using the buttons in the top right corner of the map.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <b>3</b> Press Save Me to send us your location. We Will confirm your location and advise ETA.
            </div>
        </div>

    </content>

</div>