<ion-view class="dark-page view-with-bg" title="home">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content scroll="false" class="has-header">
        <img class="center-block img-responsive" src="img/bra-road-large.png" alt="">
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Licence Plate:</span>
                <input class="user-rego-input" type="text" ng-model="user.rego">
            </label>
            <div class="card">
                <div class="item item-text-wrap">
                    Enter your Licence plate number and press enter.
                    If your details are registered, you will go straight to the map to send us your position.
                </div>
            </div>
        </div>

        <button class="button button-full button-positive" ng-click="checkRego(user)">
            Enter
        </button>
    </ion-content>
</ion-view>