<ion-view class="view-with-bg" title="map">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content scroll="false" class="padding">

        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>

        <div class="card map-card">
            <div class="item item-text-wrap">
                <h4>Zoom in, Hold the marker to adjust.</h4>
            </div>
        </div>

        <!--<div class="bar bar-footer bar-positive">-->
            <!--<button class="button icon ion-navigate pull-left" ng-click="findMe()">Find Me</button>-->
            <!--<button class="button icon ion-paper-airplane pull-right">Save Me</button>-->
        <!--</div>-->

        <div class="tabs tabs-positive tabs-icon-top">
            <a class="tab-item" ng-click="findMe()">
                <i class="icon ion-navigate"></i>
                Find Me
            </a>
            <a class="tab-item">
                <i class="icon ion-help" ng-click="modal.show()"></i>
                Info
            </a>
            <a class="tab-item">
                <i class="icon ion-paper-airplane"></i>
                Save Me
            </a>
        </div>

    </ion-content>
</ion-view>
