<ion-view class="dark-page" title="User">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content scroll="false" class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model="user.firstName" value="{{user.firstName}}">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="user.lastName" value="{{user.lastName}}">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Mobile" ng-model="user.mobile" value="{{user.mobile}}">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Car Make" ng-model="user.make" value="{{user.make}}">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Car Model" ng-model="user.model" value="{{user.model}}">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Year Made" ng-model="user.year" value="{{user.year}}">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Licence Plate" ng-model="user.rego" value="{{user.rego}}">
            </label>
        </div>

        <button class="button button-full button-positive" ng-click="userSave(user)">
            Save
        </button>

        <img class="center-block img-responsive" src="img/bra-road-large.png" alt="">

    </ion-content>
</ion-view>
